// html {
//     font-size: 62.5%; // 1rem is 10px
// }

body {
    margin: 0px;
    background-color: $lite-green;
    // overflow-x: hidden;
    // font-weight: normal;
    font-family: 'Lato', sans-serif;

    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // text-rendering: optimizeLegibility;
    // -webkit-tap-highlight-color: transparent;
}