.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $slate-gray;
    height: 50px;

    .left-side {
        display: flex;
        padding: 10px;

        .title-wrapper  >  .title-text {
                margin: 0 20px 5px 0;
                color: $lite-green;
                letter-spacing: 2px;
                font-size: 25px;
                text-transform: uppercase;
                font-weight: bold;
        }

        .left-nav-wrapper {
            display: flex;
            justify-content: space-evenly;

            .left-nav-link {
                padding: 10px;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1.5px;
                color: $lite-green;
            }

            a {
                color: $olive-green;
                text-decoration: none;

                &:hover {
                    color: $lite-green;
                    border-bottom: 0.3px solid $lite-green;
                }
            }

            .nav-link-active {
                border-bottom: 0.3px solid $lite-green;
                color: $lite-green;
            }
        }
    }

    .right-side {
        display: flex;

        .right-nav-wrapper {
            margin-right: 10px;
            padding: 10px;
            font-size: 20px;

            a {
                color: $olive-green;
                text-decoration: none;

                &:hover {
                    color: $lite-green;
                    border-bottom: 0.3px solid $lite-green;
                }
            }

            .nav-link-active {
                border-bottom: 0.3px solid $lite-green;
                color: $lite-green;
            }
        }
    }
}