.page-layout-wrapper {
  @include layout();

  .left-column {
    opacity: 75%;
  }

  .right-column {
    @include column-layout();
    align-items: center;
    justify-content: center;

    .title-header {
      @include title-header-style();
    }

    .page-text {
      letter-spacing: 0.5px;
    }

    .form-wrapper {
      @include form-wrapper-layout();
      justify-content: center;

      .form-group  > input {
          width: 292px;
      }

      button {
        @include button-style();
        height: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

    }

  }
}


