.shop-layout-wrapper {
    margin: 0px 300px;
    background-color: $white;
    height: 100vh;
    color: $slate-gray;

    .shop-title {
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        height: 90px;
    }

    .product-wrapper {
        display: flex;
        justify-content: center;
        margin: 20px 0px 40px 0px;

        .shop-products {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;
            row-gap: 20px;
            width: 900px;
        }
    }

}