.user-layout-wrapper {
  @include layout();

  .left-column {
    @include column-layout();

    .title-header {
      @include title-header-style();
      margin-bottom: 50px;
    }

    .page-text {
      font-size: 20px;
    }

    .form-wrapper {
      @include form-wrapper-layout();

      .form-group {
        font-weight: bold;
        text-transform: uppercase;

        input {
          width: 292px;
          margin-top: 5px;
        }
      }

      .button {
        @include button-style();
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        height: 40px;
        letter-spacing: 0.9px;
        width: 300px;
      }
    }
  }

  .right-column {
    opacity: 50%;
  }
}