.title-wrapper {
    display: flex;
    justify-content: center;
    padding: 5px 5px 0 5px;
    background-color:$slate-gray;
    font-size: 18px;
    height: 60px;

    .logo-wrapper {
        color: $lite-green;
        font-size: 40px;
    }
}